/*
# 用於 id
. 用於 class
*/




#banner{
	height: 100px;
	background-color:#123456;   /*12-R通道34-G通道56-B通道*/

}


#menu{
	height: 150px;
	background-color:#c6c6c6;

}


body{
	margin: 0;  /* margin 外部距離  padding 內部距離*/
	 			   
									
}

ul{

	display: inline;
	padding-left: 50%;

}

li{
	display: inline;
	list-style-type: none;
	padding-left: 5%;
}

#content{
	height: 550px;
}



#footer{

	clear: both; /* 清除 兩區域*/
	height: 50px;
	background-color:#ff0000;
	color:#ffffff;
}


