{% extends "Base.html" %} <!--繼承 Base.html-->

{% block title %}
      聯絡我們
{% endblock %}

{% block bannerArea %}

     <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">聯絡我們</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Contact</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->


{% endblock %}


{% block Content %}




<form id="data_set" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="post">
<input type="hidden" name="MerchantID" value="2000132" /><input type="hidden" name="MerchantTradeNo" value="NO20220314202445" />
<input type="hidden" name="MerchantTradeDate" value="2022/03/14 20:24:45" /><input type="hidden" name="PaymentType" value="aio" />
<input type="hidden" name="TotalAmount" value="2000" /><input type="hidden" name="TradeDesc" value="訂單測試" />
<input type="hidden" name="ItemName" value="商品1#商品2" />
<input type="hidden" name="ReturnURL" value="https://www.ecpay.com.tw/return_url.php" />
<input type="hidden" name="ChoosePayment" value="Credit" /><input type="hidden" name="ClientBackURL" value="https://www.ecpay.com.tw/client_back_url.php" /><input type="hidden" name="ItemURL" value="https://www.ecpay.com.tw/item_url.php" /><input type="hidden" name="Remark" value="交易備註" /><input type="hidden" name="OrderResultURL" value="https://www.ecpay.com.tw/order_result_url.php" /><input type="hidden" name="NeedExtraPaidInfo" value="Y" /><input type="hidden" name="InvoiceMark" value="N" /><input type="hidden" name="EncryptType" value="1" /><input type="hidden" name="BindingCard" value="0" /><input type="hidden" name="Redeem" value="N" /><input type="hidden" name="UnionPay" value="0" /><input type="hidden" name="CheckMacValue" value="F1E65E626DF6D9F2D9C33850D063B434636547FDCDD0C657D469823960C8F028" /><script type="text/javascript">document.getElementById("data_set").submit();</script></form>

        
        
{% endblock %}


























