{% extends "Base.html" %} <!--繼承 Base.html-->

{% block title %}
      聯絡我們
{% endblock %}


{% block Content %}
<!--================Breadcrumb Area =================-->
       <!-- <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">會員專區</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Customer</li>
                    </ol>
                </div>
            </div>
        </section>  -->
        <!--================Breadcrumb Area =================-->
        <div style="clear:both;height: 150px;">         
        </div>
		
		<a href="/cusUpdate/">修改密碼</a>
		<p></p>
		<a href="">修改個人資訊</a>
		<p></p>
        <a href="/login/">登出</a>
        <p></p>

{% endblock %}